@{
    ViewData["Title"] = "Student";
}

<div class="container">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Home</span>
                </a>
    
                        <a href="~/Admin/Dashboard" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                
                        <a href="~/Admin/Student" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Student List</span>
                            </a>
                            
                        <a href="~/Admin/Upload" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Upload marks</span>
                            </a>
                    
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" alt=""  class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">Sumina</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="~/Admin/Change">Change password</a></li>
                        <li><a class="dropdown-item" href="~/Home/Index">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-8"><table class="table table-dark table-hover">

  <thead>
    <tr>
      <th scope="col">Roll no</th>
      <th scope="col">Student Name</th>
      <th scope="col">Math</th>
      <th scope="col">Science</th>
       <th scope="col">Total</th>
        <th scope="col"> </th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>12</td>
      <td>13</td>
       <td>25</td>
        <td>
            <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
   Edit
  </button>
</p>
<div style="min-height: 12px;">
  <div class="collapse collapse-horizontal" id="collapse1">
    <div class="card card-body" style="width: 300px;">
       <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Update</span></a>
        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cancel</span></a>
                      
    </div>
  </div>
</div>     
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>50</td>
      <td>40</td>
      <td>90</td>
       <td>
            <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
   Edit
  </button>
</p>
<div style="min-height: 12px;">
  <div class="collapse collapse-horizontal" id="collapse2">
    <div class="card card-body" style="width: 300px;">
       <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Update</span></a>
        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cancel</span></a>            
    </div>
  </div>
</div>     
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>20</td>
      <td>40</td>
      <td>60</td>
       <td>
            <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
   Edit
  </button>
</p>
<div style="min-height: 12px;">
  <div class="collapse collapse-horizontal" id="collapse3">
    <div class="card card-body" style="width: 300px;">
       <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Update</span></a>
        <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Cancel</span></a>
                      
    </div>
  </div>
</div>     
        </td>
        </tr>
  </tbody>
</table>
</div>


        </div>
    </div>

